{% extends "base.html" %} {% block css %}
<link rel="stylesheet" href="static/convert.css">
{% endblock %} {% block title
%}Convert{% endblock %} {% block content %} {% with messages =
get_flashed_messages() %} {% if messages %} {% for message in messages %}
<p class="error">{{message}}</p>
{% endfor %} {% endif %}{% endwith %}

<div class="convert_body">
<h1>Convert</h1>
<div class="switch">
{% if convert_type == 0 %}
<h2>Letter to Morse</h2>
{% else %}
<h2>Morse to Letter</h2>
{% endif %}
<form action="" method="post">
  <input class="button" type="submit" name="convert_type" value="Switch" />
</form>
</div>

<form action="" method="post">
  <input class="input" type="text" name="convert_text" value="{{convert_input}}" required />
  <input class="button" type="submit" name="convert_submit" value="Convert" />
</form>

{% if converted %}
<hr>
<h2>Result:</h2>
{% endif %}
<h3 class="converted">{{converted}}</h3>
</div>
{% endblock %}
