{% extends "base.html" %} {% block css %}

{% endblock %} {% block title %}User{%
endblock %} {% block content %} 

<h1>{{ user["username"] }}</h1>{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<p class="error">{{message}}</p>
{% endfor %} {% endif %}{% endwith %}

<hr />
<h2>Stats</h2>

<p>Total Answered: {{total_answered}}</p>
<p>Current days in a row: {{days_in_row}}</p>
<p>Max days in a row : {{max_day_in_row}}</p>

<hr />

<a class="nav" href="{{ url_for('logout') }}">Logout</a>


{% endblock %}
