{% extends "base.html" %} {% block css %}
<link rel="stylesheet" href="static/user.css">
{% endblock %} {% block title %}User{%
endblock %} {% block content %} 

<div class=user_body>
<h1>{{ user["username"] }}</h1>{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<p class="error">{{message}}</p>
{% endfor %} {% endif %}{% endwith %}

<hr />
<h2>Stats</h2>

<p class="stats_text">Total Answered: <span>{{total_answered}}</span></p>
<p class="stats_text">Current days in a row: {{days_in_row}}</p>
<p class="stats_text">Max days in a row : {{max_day_in_row}}</p>

<hr />

<a class="nav_logout" href="{{ url_for('logout') }}">Logout</a>

<br class="test">
</div>


{% endblock %}
